<div class="projects">
  <div class="projects-content title">
    <div class="projects-content title left">
      <div class="projects-icon">
        <mat-icon class="material-symbols-outlined" id="emp-icon"
          >workspaces</mat-icon
        >
      </div>
      <div class="projects-title">
        <div class="line1">{{ "PROJECTS.TITLE" | translate }}</div>
        <div class="line2">{{ "PROJECTS.SUBTITLE" | translate }}</div>
      </div>
    </div>
    <div class="projects-content title right">
      <div class="button-add">
        <button
          mat-flat-button
          routerLink="/projects/new"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          id="add-button"
        >
          <mat-icon>add</mat-icon>
          {{ "PROJECTS.BUTTON.ADD_DEPARTMENT" | translate }}
        </button>
      </div>
    </div>
  </div>
  <div class="projects-content list">
    <div class="list-tabs">
      <mat-tab-group mat-stretch-tabs="false">
        <mat-tab class="manage-projects">
          <ng-template mat-tab-label>
            <mat-icon id="manage-icon">workspaces</mat-icon>
            {{ "PROJECTS.SUBTITLE" | translate }}
          </ng-template>
          <div class="list-content">
            <app-projects-list />
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
