<div class="list-toolbar">
  <div class="list-title">{{ "ADD_TASK.MANAGE_TASKS" | translate }}</div>
  <div class="button-add" *hasRole="canAddTaskRoles">
    <button mat-flat-button id="add-task-button" (click)="openNewTask(this.id)">
      <mat-icon>add</mat-icon>
      {{ "ADD_TASK.BUTTON.ADD_TASK" | translate }}
    </button>
  </div>
</div>

<div class="dashboard-task-content">
  <div class="task-table">
    <div class="task-table-title">{{ "ADD_TASK.STATUS.NEW" | translate }}</div>

    <ng-container *ngFor="let task of tasksMap.get('NEW')">
      <div
        class="task-table-content new"
        (click)="openTask(projectDetails?.id, task)"
      >
        <div *ngIf="task.typeTask === 'FAULT'; then fault"></div>
        <ng-template #fault>
          <div
            class="task-status"
            [matTooltip]="'ADD_TASK.TYPE_OF_TASK.FAULT' | translate"
          ></div>
        </ng-template>
        <div class="description-task top">
          <div class="task-info">
            <div class="task-info-name">
              <span>{{ task.name }}</span>
              <div *ngIf="task.priorityStatus === 'HIGH'; then priority"></div>
              <ng-template #priority>
                <mat-icon
                  id="icon-priority"
                  [matTooltip]="'ADD_TASK.PRIORITY_STATUS' | translate"
                  >priority_high</mat-icon
                >
              </ng-template>
            </div>
            <span class="task-description">{{ task.description }}</span>
          </div>
        </div>
        <div class="description-task bottom">
          <div class="task-employeeName">
            <img
              [ngSrc]="
                (task.employeeImage | imageToken) ||
                'assets/image/default-avatar.png'
              "
              alt="default avatar"
              height="30"
              width="30"
              id="picture-avatar"
            />
            <span class="task-description">{{ task.employeeName }}</span>
          </div>
          <div class="button-action">
            <button
              mat-mini-fab
              id="button-delete"
              (click)="openDialog(this.id, task, $event)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="task-table">
    <div class="task-table-title">
      {{ "ADD_TASK.STATUS.WORK_IN_PROGRESS" | translate }}
    </div>
    <ng-container *ngFor="let task of tasksMap.get('WORK_IN_PROGRESS')">
      <div
        class="task-table-content workInProgress"
        (click)="openTask(projectDetails?.id, task)"
      >
        <div *ngIf="task.typeTask === 'FAULT'; then fault"></div>
        <ng-template #fault>
          <div
            class="task-status"
            [matTooltip]="'ADD_TASK.TYPE_OF_TASK.FAULT' | translate"
          ></div>
        </ng-template>
        <div class="description-task top">
          <div class="task-info">
            <div class="task-info-name">
              <span>{{ task.name }}</span>
              <div *ngIf="task.priorityStatus === 'HIGH'; then priority"></div>
              <ng-template #priority>
                <mat-icon
                  id="icon-priority"
                  [matTooltip]="'ADD_TASK.PRIORITY_STATUS' | translate"
                  >priority_high</mat-icon
                >
              </ng-template>
            </div>
            <span class="task-description">{{ task.description }}</span>
          </div>
        </div>
        <div class="description-task bottom">
          <div class="task-employeeName">
            <img
              [ngSrc]="
                (task.employeeImage | imageToken) ||
                'assets/image/default-avatar.png'
              "
              alt="default avatar"
              height="30"
              width="30"
              id="picture-avatar"
            />
            <span class="task-description">{{ task.employeeName }}</span>
          </div>
          <div class="button-action">
            <button
              mat-mini-fab
              id="button-delete"
              (click)="openDialog(this.id, task, $event)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="task-table">
    <div class="task-table-title">{{ "ADD_TASK.STATUS.DONE" | translate }}</div>
    <ng-container *ngFor="let task of tasksMap.get('DONE')">
      <div
        class="task-table-content done"
        (click)="openTask(projectDetails?.id, task)"
      >
        <div *ngIf="task.typeTask === 'FAULT'; then fault"></div>
        <ng-template #fault>
          <div
            class="task-status"
            [matTooltip]="'ADD_TASK.TYPE_OF_TASK.FAULT' | translate"
          ></div>
        </ng-template>
        <div class="description-task top">
          <div class="task-info">
            <div class="task-info-name">
              <span>{{ task.name }}</span>
              <div *ngIf="task.priorityStatus === 'HIGH'; then priority"></div>
              <ng-template #priority>
                <mat-icon
                  id="icon-priority"
                  [matTooltip]="'ADD_TASK.PRIORITY_STATUS' | translate"
                  >priority_high</mat-icon
                >
              </ng-template>
            </div>
            <span class="task-description">{{ task.description }}</span>
          </div>
        </div>
        <div class="description-task bottom">
          <div class="task-employeeName">
            <img
              [ngSrc]="
                (task.employeeImage | imageToken) ||
                'assets/image/default-avatar.png'
              "
              alt="default avatar"
              height="30"
              width="30"
              id="picture-avatar"
            />
            <span class="task-description">{{ task.employeeName }}</span>
          </div>
          <div class="button-action">
            <button
              mat-mini-fab
              id="button-delete"
              (click)="openDialog(this.id, task, $event)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
