<div class="list-toolbar">
  <div class="list-title">
    {{ "EMPLOYEE.REQUEST_TIME_OFF" | translate }}
  </div>
  <div class="list-additional-elem">
    <mat-form-field class="input-full-width">
      <mat-icon id="filter-icon">filter_alt</mat-icon>
      <input
        matInput
        (keyup)="applyFilter($event)"
        type="text"
        [placeholder]="'EMPLOYEE.FILTER' | translate"
        id="input-filter"
      />
    </mat-form-field>
  </div>
</div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Employee Name Column -->
  <ng-container matColumnDef="employeeName">
    <th mat-header-cell *matHeaderCellDef>
      {{ "REQUEST_TIME_OFF.EMPLOYEE_NAME" | translate }}
    </th>
    <td mat-cell *matCellDef="let element">
      <img
        [ngSrc]="
          (element?.image | imageToken) || 'assets/image/default-avatar.png'
        "
        alt="default avatar"
        height="30"
        width="30"
        id="picture-avatar"
      />{{ element.employeeName }}
    </td>
  </ng-container>

  <!-- Leave Type Column -->
  <ng-container matColumnDef="leaveType">
    <th mat-header-cell *matHeaderCellDef>
      {{ "REQUEST_TIME_OFF.LEAVE_TYPE" | translate }}
    </th>
    <td mat-cell *matCellDef="let element">
      <mat-chip class="type {{ element.leaveType | lowercase }}" id="chip-type">
        {{ "REQUEST_TIME_OFF.LEAVE_TYPES." + element.leaveType | translate }}
      </mat-chip>
    </td>
  </ng-container>

  <!-- Leave From Column -->
  <ng-container matColumnDef="startDate">
    <th mat-header-cell *matHeaderCellDef>
      {{ "REQUEST_TIME_OFF.LEAVE_FROM" | translate }}
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.startDate | date: "YYYY-MM-dd" }}
    </td>
  </ng-container>

  <!-- Leave To Column -->
  <ng-container matColumnDef="endDate">
    <th mat-header-cell *matHeaderCellDef>
      {{ "REQUEST_TIME_OFF.LEAVE_TO" | translate }}
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.endDate | date: "YYYY-MM-dd" }}
    </td>
  </ng-container>

  <!-- Days Type Column -->
  <ng-container matColumnDef="days">
    <th mat-header-cell *matHeaderCellDef>
      {{ "REQUEST_TIME_OFF.DAYS" | translate }}
    </th>
    <td mat-cell *matCellDef="let element">{{ element.days }}</td>
  </ng-container>

  <!-- Status Type Column -->
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>
      {{ "REQUEST_TIME_OFF.STATUS" | translate }}
    </th>
    <td mat-cell *matCellDef="let element">
      <mat-chip
        class="status {{ element.status | lowercase }}"
        id="chip-status"
        >{{ "REQUEST_TIME_OFF.STAT." + element.status | translate }}</mat-chip
      >
    </td>
  </ng-container>

  <!-- Details Type Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <div class="row-actions" *hasRole="canEditByUserStatusRequest">
        <button
          *ngIf="element | applyPure: canUserDeleteRequest"
          mat-mini-fab
          id="button-edit"
          [routerLink]="['/employee/request-time-off', element.id]"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          *ngIf="element | applyPure: canUserDeleteRequest"
          mat-mini-fab
          id="button-more"
          (click)="openDialog(element, $event)"
        >
          <mat-icon>delete</mat-icon>
        </button>
        <div
          *ngIf="
            element.status !== 'PENDING';
            then buttonView;
            else buttonChangeStatus
          "
        ></div>
        <ng-template #buttonChangeStatus>
          <button
            mat-stroked-button
            *hasRole="canChangeStatusRequest"
            id="button-approve"
            (click)="onApprove($event, element)"
          >
            {{ "REQUEST_TIME_OFF.BUTTON.APPROVE" | translate }}
          </button>
          <button
            mat-stroked-button
            *hasRole="canChangeStatusRequest"
            id="button-reject"
            (click)="onReject($event, element)"
          >
            {{ "REQUEST_TIME_OFF.BUTTON.REJECT" | translate }}
          </button>
        </ng-template>
        <ng-template #buttonView>
          <button
            *hasRole="canChangeStatusRequest"
            mat-mini-fab
            id="button-loupe"
            [routerLink]="['/employee/request-time-off', element.id]"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
          >
            <mat-icon>search</mat-icon>
          </button>
        </ng-template>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns"
    [routerLink]="['/employee/request-time-off', row.id]"
  ></tr>
</table>
