app-manage-project-id {
  width: 100%;

  .add-manage-project-id {
    display: flex;
    width: 100%;
    flex-direction: column;

    .project-id-form.elements {
      overflow: hidden;
    }

    .project-id {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 8px;
    }

    .list-title {
      font-size: 20px;
      font-weight: 600;
      padding: 8px 0 6px 0;
    }

    button#add-employee-button {
      border-radius: 10px;
      background-color: var(--button-app-color);
      width: 200px;
    }

    .project-id-form.elements,
    .project-id-employees.elements {
      border-radius: 10px;
      border: 1px solid var(--border-app-element);
      padding: 20px 20px 20px 20px;
    }

    .input-title {
      font-size: 12px;
      font-weight: 600;
      padding: 20px 0 10px 0;
    }

    .project-id-form.info-personal {
      margin: 0 0 30px 0;
      display: grid;
      grid-template-columns: 1fr;
      width: 102%;
    }

    .button-save {
      display: block;
      float: right;
    }

    button#button-save {
      background-color: var(--positive-element);
      color: var(--main-color-text);
      border-radius: 10px;
    }

    .title-line1 {
      margin: 0 0 20px 0;
      font-size: 18px;
    }

    .mat-elevation-z8 {
      box-shadow: none;
    }

    .mat-mdc-mini-fab {
      background-color: transparent;
    }

    button#button-more {
      color: var(--main-color);
      border: 1px solid var(--border-app-element);
      border-radius: 10px;
    }
    .mat-column-actions {
      width: 58px;
    }
  }
}
