<div class="users">
  <div class="users-content title">
    <div class="users-content title left">
      <div class="users-icon">
        <mat-icon class="material-symbols-outlined" id="emp-icon"
          >group</mat-icon
        >
      </div>
      <div class="users-title">
        <div class="line1">{{ "USERS_LIST.TITLE" | translate }}</div>
        <div class="line2">{{ "USERS_LIST.SUBTITLE" | translate }}</div>
      </div>
    </div>
    <div class="users-content title right">
      <div class="button-add">
        <button
          mat-flat-button
          routerLink="/users/new"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          id="add-user-button"
        >
          <mat-icon>add</mat-icon>
          {{ "USERS_LIST.BUTTON.ADD_USER" | translate }}
        </button>
      </div>
    </div>
  </div>
  <div class="users-content list">
    <div class="list-tabs">
      <mat-tab-group mat-stretch-tabs="false">
        <mat-tab class="manage-employee">
          <ng-template mat-tab-label>
            <mat-icon id="manage-icon">manage_accounts</mat-icon>
            {{ "USERS_LIST.MANAGE_USERS" | translate }}
          </ng-template>
          <div class="list-content">
            <app-users-list />
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
